<div class="quest-container" *ngIf="!!chapterQuests">
  <form [formGroup]="heroSelectionForm">
    <div class="form-input-group">
      <select
        id="quest-select"
        formControlName="selectedQuest"
        class="form-input-field select-input"
      >
        <option *ngFor="let quest of chapterQuests" [value]="quest?.id">
          {{ quest?.name }}
        </option>
      </select>
      <label class="text-medium" for="quest-select">Select your quest!</label>
    </div>

    <div class="form-input-group">
      <select
        class="form-input-field select-input"
        formControlName="selectedHero"
        id="hero-select"
      >
        <option *ngFor="let hero of heroList" [value]="hero?.name">
          {{ hero?.name }}
        </option>
      </select>
      <label class="text-medium" for="hero-select">Select your hero!</label>
    </div>

    <button
      (click)="onLockChoice()"
      class="btn btn-primary"
      *ngIf="!choiceLocked"
    >
      Lock Choice
    </button>
  </form>
  <button (click)="onStartQuest()" class="btn btn-primary" *ngIf="choiceLocked">
    Start Adventure
  </button>
</div>
