<div class="header">
  <div class="header__brand">
    <span class="header__brand-text text-huge">microQuest</span>
  </div>
  <div class="header__navigation">
    <ul class="header__navigation-list">
      <li class="header__navigation-list-item">
        <a routerLink="auth/login" routerLinkActive="active" *ngIf="!userLogged"
          >Login</a
        >
      </li>
      <li class="header__navigation-list-item">
        <a
          routerLink="auth/register"
          routerLinkActive="active"
          *ngIf="!userLogged"
          >Register</a
        >
      </li>
      <li class="header__navigation-list-item">
        <a routerLink="heroes" routerLinkActive="active" *ngIf="userLogged"
          >Heroes</a
        >
      </li>
      <li class="header__navigation-list-item">
        <a routerLink="story" routerLinkActive="active" *ngIf="userLogged"
          >Story</a
        >
      </li>
      <li class="header__navigation-list-item">
        <a href="" *ngIf="userLogged">Dungeons</a>
      </li>
      <li class="header__navigation-list-item">
        <a href="" *ngIf="userLogged">Profile</a>
      </li>
      <li class="header__navigation-list-item">
        <a *ngIf="userLogged" (click)="onUserLogout()">Log Out</a>
      </li>
    </ul>
  </div>
</div>
