$color-primary-dark: #ee5253;
$color-primary-darker: #852d2d;
$color-primary-light: #ff6b6b;
$color-secondary-dark: #ff9f43;
$color-secondary-light: #feca57;
$color-dark: #222f3e;
$color-light: #f5f5f5;
$color-grey: #c8d6e5;
$color-green-dark: #6ab04c;
$color-green-light: #badc58;
$color-blue-light: #3498db;
$color-blue-dark: #2980b9;

$font-size-tiny: 0.8rem;
$font-size-small: 1rem;
$font-size-medium: 1.6rem;
$font-size-large: 2.8rem;
$font-size-huge: 4.2rem;
$font-size-gargauntan: 5.4rem;
$font-size-colossal: 7.2rem;
